/* st-char.css */

.st-title {
	background: #000000;
	color: #ffffff;
	font-size: 28px;
}

.st-elem {
	position: absolute;
	display: inline-block;
	font-size: 14px;
	text-align: center;
}

.st-label {
	text-transform: uppercase;
}

.st-total {
	font-weight: bold;
}

/* st-name */

.st-name {
	margin-bottom: 10px;
	width: 977px;	
}

.st-name th, .st-name td {
	font-family: "Courier New", serif;
	font-size: 22px;	
	padding: 0 4px;
	text-transform: capitalize;	
}

.st-name th {
	text-align: right;	
	width: 100px;
}

.st-name td {
	text-align: left;
	font-family: "Ampersand";
	width: 25%;
}

/* st-attributes */

.st-attributes {
	border: 1px solid #000000;
	margin-bottom: 10px;
	text-align: center;
	width: 977px;
}

.st-attributes th, .st-attributes td {
	border: 1px solid #000000;
	min-height: 2em;
	height: 2em;
	text-align: center;
}

.st-attributes th.st-attributes-desc {
	font-family: 'Pixel Emulator', sans-serif;
	background: #000000;
	color: #ffffff;
	font-size: 22px;
	text-align: center;
}

.st-attributes th {
	background-color: #000000;
	color: #ffffff;
	font-family: "Courier New", serif;
	font-size: 20px;
	font-weight: bold;
	text-transform: capitalize;
	width: 25%;
}

.st-attributes td {
	font-family: "Ampersand";
	font-size: 60px;
	font-weight: bold;
}

/* st-frosty */

.st-frosty {
	border: 1px solid #000000;
	margin-bottom: 10px;
	width: 977px;
}

.st-frosty th.st-frosty-desc {
	background: #000000;
	color: #ffffff;
	font-family: 'Pixel Emulator', sans-serif;
	font-size: 22px;
	text-align: center;
}

.st-frosty th {
	background-color: #000000;
	border: 1px solid #000000;
	color: #ffffff;
	font-family: 'Pixel Emulator', sans-serif;
	font-size: 20px;
	text-align: center;
	text-transform: capitalize;
	width: 20%;
}

.st-frosty th.mos {
	text-transform: uppercase;
}

.st-frosty td {
	border: 1px solid #000000;
	font-family: "Courier New", serif;
	vertical-align: top;
}

.st-frosty td.rank {
	font-family: "Ampersand", sans-serif;
	text-transform: capitalize;
}

.st-frosty td.mos table th, .st-frosty td.mos table td,
.st-frosty td.rank table th, .st-frosty td.rank table td {
	background-color: #ffffff;
	border: 1px solid transparent;
	color: #000000;
	font-family: "Ampersand", sans-serif;
	font-size: 14px; 
	text-align: left;
	text-transform: capitalize;
	vertical-align: top;
}

.st-frosty td.mos table th {
	font-weight: bold;
	width: 30%;
}

.st-frosty td.frostiness {
	padding-left: 5%;
    text-align: left;	
}

.st-frosty td.hit-points,
.st-frosty td.armor {
	font-family: "Ampersand";
	font-size: 60px;
	font-weight: bold;
}

/* st-weapons */

.st-weapons {
	border: 1px solid #000000;
	margin-bottom: 10px;
	width: 977px;
}

.st-weapons th.st-weapons-desc {
	background: #000000;
	color: #ffffff;
	font-family: 'Pixel Emulator', sans-serif;
	font-size: 22px;
	text-align: center;
}

.st-weapons th {
	background-color: #000000;
	border: 1px solid #000000;
	color: #ffffff;
	font-family: "Courier New", serif;
	font-size: 20px;
	text-align: center;
	text-transform: capitalize;
	width: 20%;
}

.st-weapons th.weapon {
	font-family: 'Pixel Emulator', sans-serif;
}

.st-weapons td {
	border: 1px solid #000000;
	font-family: "Courier New", serif;
	text-transform: capitalize;
	vertical-align: top;
}

	
