/* st-char.css */

h1 {
	text-align: center;
}

.st-elem {
	position: absolute;
	display: inline-block;
	font-size: 14px;
	text-align: center;
}

.st-label {
	text-transform: uppercase;
}

.st-total {
	font-weight: bold;
}

.st-attributes {
	border: 1px solid #000000;
	margin-bottom: 10px;
	text-align: center;
	width: 977px;
}

.st-attributes th.st-attributes-desc {
	font-family: 'Pixel Emulator', sans-serif;
	background: #000000;
	color: #ffffff;
	font-size: 22px;
	text-align: center;
}

.st-attributes th {
	text-transform: capitalize;
	width: 25%;
}

.st-attributes th, .st-attributes td {
	border: 1px solid #000000;
	font-family: "Courier New", serif;
	min-height: 2em;
	height: 2em;
	text-align: center;
}

.st-frosty {
	border: 1px solid #000000;
	margin-bottom: 10px;
	text-align: center;
	width: 977px;
}

.st-frosty th.st-frosty-desc {
	font-family: 'Pixel Emulator', sans-serif;
	background: #000000;
	color: #ffffff;
	font-size: 22px;
	text-align: center;
}

.st-frosty th {
	text-transform: capitalize;
	width: 20%;
}

.st-frosty th.mos {
	text-transform: uppercase;
}

.st-frosty td {
	vertical-align: top;
}

.st-frosty td.rank {
	text-transform: capitalize;
}

.st-frosty td.mos table th, .st-frosty td.mos table td,
.st-frosty td.rank table th, .st-frosty td.rank table td {
	border: 1px solid transparent;
	font-size: 9px; 
	text-align: left;
	text-transform: capitalize;
	vertical-align: top;
}

.st-frosty td.mos table th {
	font-weight: bold;
	width: 30%;
}

.st-frosty th, .st-frosty td {
	border: 1px solid #000000;
	font-family: "Courier New", serif;
	min-height: 2em;
	height: 2em;
	text-align: center;
}

.st-frosty td.frostiness {
	padding-left: 5%;
    text-align: left;	
}
